<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bank_account_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="Bank Account"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bankaccountapp"
        android:name=".utils.MainApplication">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".model.activities.HomeFragment"/>
        <activity android:name=".activities.CreateAccFragment"/>
        <activity android:name=".activities.BankTransitionFragment"/>
    </application>

</manifest>